input,
select {
    width: 210px;
    height: 40px;
    
}

.ketqua {
    width: 80%;
    height: 50px;
    background: #28a745;
    margin-top: 15px;
}

.fa {
    font-size: 40px;
    color: #eee;
    padding-left: 20px;
    
}

.flex-column {
    width: 210px;
}

#soKetNoi {
    display: none;
}